:root {
  --dark: #1a1d26;
  --black: #0b0d12;
}

* {
  font-family: "SUSE";
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(45deg, var(--dark), var(--black));
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 1280px;
  aspect-ratio: 16/9;
  border: 2px solid #aaa;
}

audio {
  width: 50vw;
}
